@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #0e1117;
  --white: #ffff;
  --gray: #d3cccc;
  --primary: #05244f;
  --secondary:#C3395B;
  --bg-secondary:#E4F9FF;
  --light-gray: #f3f4f6;
}

body {
  color: var(--white);
  /* background-color: var(--light-gray) !important; */
  /* background-color: var(--dark) !important; */
  /* background-image: url("../assets/images/bg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1{
  font-size: 3.5vw;
}
h2{
  font-size: 1.5rem;
}

@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}

.font-bold {
  font-family: Mulish-Bold !important;
}

.font-regular {
  font-family: Mulish-Regular !important;
}

.font-demi {
  font-family: Mulish-Demi !important;
}

.font-medium {
  font-family: Mulish-Medium !important;
}

.bg-primary-color {
  background-color: var(--primary);
}
.text-color-primary{
  color:var(--primary);
}
.text-color-secondary{
  color:var(--secondary);
}
.bg-secondary-color{
  background-color: var(--bg-secondary);
}
.bg-tertiary-color{
  background-color: var(--secondary);
}

body {
  font-family: Mulish-regular !important;
}